<form class="product-form">
    <h4>Insira as informações do produto</h4>

    <mat-form-field class="" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
        <mat-label>Preço de custo</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
        <mat-label>Preço de venda</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
        <mat-label>Tempo de preparação</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tipo do produto</mat-label>
        <mat-select>
            <mat-option *ngFor="let type of productTypes" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="sendForm()">Enviar</button>
</form>  